.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.deleteButton {
    background-color: #ff4136;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}

.deleteButton:hover {
    background-color: #d1392d;
}